<!DOCTYPE html>
<html>
  <head>
    <title>OurHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <header>
      <%= render partial: "layouts/header" %>
    </header>
    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in p-3">
      <%= yield %>
    </main>
  </div>
  <footer class="footer px-4 py-6 bg-gray-900 text-white">
    <div class="footer-content">
      <p class="text-sm text-center">© Our Home 2022</p>
    </div>
  </footer>
</html>
