<div class="flex-col">
  <%= render(Forms::HeaderComponent.new(text: "Members")) %>
  <% if @members_exist %>
    <table class="divide-y divide-gray-300 ">
      <%= render(Tables::HeaderComponent.new(headers: ["First Name", "Middle Name", "Last Name", "Birthdate"], include_actions: true)) %>
      <tbody>
        <% @members.each do |member| %>
          <tr class="whitespace-nowrap">
            <td class="px-6 py-4 text-sm text-gray-500"><%= member.first_name %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= member.middle_name %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= member.last_name %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= member.birthdate.strftime("%B %d, %Y") %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= link_to "View", member, class:"px-4 py-1 text-sm text-blue-600 bg-blue-200 rounded-full" %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= link_to "Edit", edit_member_path(member), class:"px-4 py-1 text-sm text-blue-600 bg-blue-200 rounded-full" %></td>
            <td class="px-6 py-4 text-sm text-gray-500"><%= link_to "Delete", member, method: :delete, data: { confirm: 'Are you sure?' }, class:"px-4 py-1 text-sm text-red-600 bg-red-200 rounded-full" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2 class="mb-4 text-xl font-black">No Current Members</h2>
  <% end %>
  <br>
  <%= link_to 'New Member', new_member_path, class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:border-black" %>
<div>
