<div class="p-10">
  <h1 class="mb-4 text-4xl font-black">Members</h1>
  <% if @members_exist %>
    <table class="table-auto">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Birthdate</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
            <tr class="border-4 border-gray-200">
            <td><%= member.first_name %></td>
            <td><%= member.middle_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.birthdate %></td>
            <td><%= link_to 'Show', member %></td>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
            <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2 class="mb-4 text-xl font-black">No Current Members</h2>
  <% end %>
  <br>
  <%= link_to 'New Member', new_member_path, class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black" %>
<div>